* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
  height: 300px;
  }

.nowrap {
    white-space: nowrap;
}

.wrap-word {
    white-space: wrap;
}
 
 /* MAIN */
  
  html {
    background-color: white;
    padding: 1em;
  }
  
  body {
    background-color: #ede2c5;
    display: block;
    height: auto;
    margin: auto;
    padding: 2em;
    border-radius: 15px;
    max-width: 900px;
  }
  
  .block {
    display: block;
  }
  
  header{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
  }

  #image {
    max-width:100%;
    align-content: center;
    object-fit: cover;
  }
  
  #img-div {
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1.5em 2em;
  }

  #img-caption {
    padding: 1.5em 0 0.5em 0;
    font-style: italic;
    font-size: 0.9em;
  }

  #tribute-info {
    margin: 3em 0;
  }

  .sous-titre {
    margin-bottom: 1.5em;
    padding-top: 1em;
  }

  ul li {
    list-style-type: none;
    padding-bottom: 2em;
    display: flex;
  }

  .bold {
    font-style: bolder;
    flex: nowrap;
    align-items: flex-start;
    width: 120px;
  }

  ul li span:not(.bold) {
    text-align: justify;
    width: 100%;
  }

  .quote {
    margin-top: 2em;
    width: 50%;
    text-align: right;
  }

  .final {
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
  }





  
